.result {
  text-align: center;

  &.stark {
    color: #ffffff;
  }

  &.lannister {
    color: #ffffff;
  }

  &.targaryen {
    color: #ffffff;
  }

  &.baratheon {
    color: #000000;
  }
}

.result h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'GameOfThrones', sans-serif;
}

.result p {
  font-size: 2rem;
  font-weight: 600;
}

.result button {
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #1f1f1f;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s;
  margin-top: 20px;

  &:hover {
    background-color: #ffffff;
    color: #1f1f1f;
  }
}
