.app {
  text-align: center;
  background-color: #302b2b;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  &.stark {
    background-color: #383838;
    color: #ffffff;
  }

  &.lannister {
    background-color: #a41e1e;
    color: #ffffff;
  }

  &.targaryen {
    background-color: #1f1f1f;
    color: #ffffff;
  }

  &.baratheon {
    background-color: #f4c542;
    color: #000000;
  }
}

.app h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  font-family: 'GameOfThrones', sans-serif;
}

.app button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #1f1f1f;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 10px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #ffffff;
    color: #1f1f1f;
  }
}
